@font-face {
  font-family: 'Archivo Black';
  src:
    local('Archivo Black'),
    url('/fonts/ArchivoBlack-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Epunda Slab';
  src:
    local('Epunda Slab'),
    url('/fonts/EpundaSlab-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto'),
    url('/fonts/Roboto_Condensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #1E2140;
  --font-family: 'Archivo Black';
  --color-accent: #f87070;
  font-family: var(--font-family), serif;
}

#overlay-root {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
}

button {
  cursor: pointer;
}

input,
button {
  font-family: var(--font-family), serif;
}

hr {
  background: #ededed;
  height: 1px;
  width: 100%;
  border: none;
  margin-block: 25px;
}

img {
  display: block;
}
